
<div id="map-container" style="max-height: 90%">
</div>
<div id="score" class="row">
  <div id="zone-name" class="alert text-center alert-default col-md-6 col-sm-6 col-xs-6">
    Nombre de zona
  </div>
  <div id="reputacion" class="alert text-center alert-success col-md-4 col-sm-4 col-xs-4">
    Reputaci칩n
  </div>
  <button type="button" id="new-valoration" class="btn btn-success glyphicon glyphicon-plus col-md-2" data-toggle="modal" data-target="#myModal"></button>


</div>

<div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">A침adir Valoraci칩n</h4>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_tag url: '/add_repvalue' do |f| %>
            <%= f.text_area :texto %>
            <%= f.text_field :foto %>
            <%= f.text_field :etiquetas %>
            <%= f.number_field :valor %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Valorar", class: 'btn btn-success' %>
        <% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/javascript" charset="utf-8">

    function getLocation(){
        navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
    }

    function successCallback(position) {

//        var coordinates = [3,3];
//        //coordinates = [position.coords.latitude,  position.coords.longitude];
//
//        $.ajax({
//            url: '/get_current_zone',
//            type: 'POST',
//            async: true,
//            data: {coordinates: coordinates}
//        }).done(function(resp) {
//            console.log(resp);
//            //console.log("Response received");
//
//
//            //drawZones(<%= raw @zones.to_json %>);
//        });
    }

    function errorCallback(){
        console.log("Error en geolocalizaci칩n");
    }
        initialize();
        drawParent(<%= raw @zones.to_json %>);

</script>
