<div id="header-div">
    <div id="zone-name" class="text-center">
      <h2 class=""><%= @current_zone[:name]%></h2>
    </div>
    <div class="col-md-12"><div class="h3 col-md-12 col-xs-12 text-center">
        <div id="reputacion" class="alert alert-success col-md-12 col-xs-12">
        </div>
      <div>
        <button type="button" id="panic-button" style="margin-top: -40px" class="btn btn-lg btn-danger glyphicon glyphicon-earphone pull-left" data-toggle="modal" data-target="#panic-modal"> </button>
        <button type="button" id="new-valoration" style="margin-top: -40px; margin-left: -15px" class="btn btn-lg btn-success glyphicon glyphicon-plus pull-right" data-toggle="modal" data-target="#myModal"></button>
      </div>
      </div>


    </div>
</div>
<div id="map-container">
</div>

<div>



</div>

<div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Añadir Valoración</h4>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_tag url: '/add_repvalue' do |f| %>
            <%= f.text_area :texto %>
            <%= f.text_field :foto %>
            <%= f.text_field :etiquetas %>
            <%= f.number_field :valor %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Valorar", class: 'btn btn-success' %>
        <% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Valoration Modal -->
<div class="modal fade" id="valoration-modal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
                aria-hidden="true">×
        </button>
        <h4 id="valoration-modal-title" class="modal-title" id="myModalLabel">

        </h4>
      </div>
      <div id="valoration-modal-body" class="modal-body text-center">

      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="panic-modal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
                aria-hidden="true">×
        </button>
        <h4 id="panic-modal-title" class="modal-title" id="myModalLabel">
            ¿Emergencia?

        </h4>
      </div>
      <div id="panic-modal-body" class="modal-body text-center">
        El número de emergencia es: <h2>112</h2>
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal"><a href="tel:1004">Llamar</a></button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/javascript" charset="utf-8">

        initialize(<%= raw @zones.to_json %>, <%= raw @valoraciones.to_json %>);

</script>

<script type="text/javascript" charset="utf-8">
    var span = generateValueTag(JSON.parse(<%= eval(@current_zone[:data_info][:data])[:value]%>));
    $('#reputacion').append(span);
</script>
